body {
    color: #262626;
    text-align: center;
    font-family: montserrat, arial;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    padding: 1em;
    text-align: left;
    border: 1px solid #1e1e1e;
    margin: 0 auto;
}

.container h1 {
    font-size: 20px;
    font-family: bebas neue, arial;
    color: tomato;
}

p {
    font-family: arial;
}